bitarray==2.9.2
bitstring==4.2.3
CacheControl==0.14.0
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
construct==2.10.70
contextlib2==21.6.0
cryptography==42.0.8
ecdsa==0.19.0
esp-coredump==1.11.0
esp-idf-kconfig==2.3.0
esp-idf-monitor==1.4.0
esp-idf-panic-decoder==1.1.0
esp-idf-size==1.5.0
esp_idf_nvs_partition_gen==0.1.2
esptool==4.8.dev4
filelock==3.15.4
freertos-gdb==1.0.3
idf-component-manager==1.5.3
idna==3.7
intelhex==2.3.0
markdown-it-py==3.0.0
mdurl==0.1.2
msgpack==1.0.8
packaging==24.1
pyclang==0.4.2
pycparser==2.22
pyelftools==0.31
pygdbmi==0.11.0.0
Pygments==2.18.0
pyparsing==3.1.2
pyserial==3.5
PyYAML==6.0.1
reedsolo==1.7.0
requests==2.32.3
requests-file==1.5.1
requests-toolbelt==1.0.0
rich==13.7.1
schema==0.7.5
setuptools==71.0.0
six==1.16.0
tqdm==4.66.5
urllib3==1.26.19
